.AboutUs-container {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    @include tablet {
        display: flex;
        flex-direction: row;
    }
}
.AboutUs-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    @include tablet {
        width: 50%;
        margin: 4rem 6rem;
    }
}

.AboutUs-right {
    margin: auto;
    width: 100%;

    @include tablet {
        width: 50%;
    }
}

.AboutUs-image {
    width: 100%;
}





.AboutUs-signature {
    margin-top: 3rem;
    align-self: flex-end;
}
.AboutUs-title {
    font-size: 3.8rem;
    margin-top: 1rem;
}
.AboutUs-text {
    font-size: 3rem;
}


