.Org-Title {
    font-size: 3.8rem;
}

.btn-org {
    max-width: 15rem;
    text-decoration: none;
            color: $c-font-primary;
            font-weight: 300;
        background-color: white;
        font-size: 1.8rem;
        padding: 1rem 1rem;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            border: 1px solid $c-font-primary;
        }
        &:focus {
            border: 1px solid $c-font-primary;
        }
    }
.btn active {
    border: 1px solid $c-font-primary;
    }
.Org-buttons {
    display: flex;
    // justify-content: space-between;
}
.HomeOrganizations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .org-desc {
        font-size:2.2rem;
        max-width: 64rem;
        margin-bottom: 2rem;
    }
}

.org-table-row {
    border: 1px solid white;
    border-bottom: 1px solid $c-font-primary;
    font-family: $font-alt;
    margin-bottom: 2rem;
}
.table-name {
    font-size: 2.6rem;
    font-weight: 300;
}
.table-desc {
    font-size: 1.8rem;
    font-weight: 300;
}
.table-stuff {
    font-size: 1.8rem;
    font-weight: 300;
}
.org-table-col {
    border: 1px solid white;
    border-bottom: 1px solid $c-font-primary;
    font-family: $font-alt;
    padding: 2rem 0;
}

.Org-pagination {
    display: flex;
    flex-direction: row;
}
.HomeOrganizations {
    margin: 6rem 0;
}