@import "generic/reset";
@import "settings/all";
@import "elements/homeNavHeader";
@import "elements/threeColumns";
@import "elements/homeFourSteps";
@import "elements/homeAboutUs";
@import "elements/homeOrganizations";
@import "elements/homeContact";
@import "elements/homeFooter";

html {
	font-size: 62.5%;
}
body {
	color: $c-font-primary;
	font-family: $font-base;
}
.container {
	max-width: 1400px;
}
.decoration {
	margin: 3rem 0;
}
.btn {
	font-family: $font-base;
}