@import "generic/reset";
@import "settings/all";
@import "elements/homeNavHeader";
@import "elements/threeColumns";

html {
	font-size: 62.5%;
}
body {
	color: $c-font-primary;
	font-family: $font-base;
}
.container {
	max-width: 1200px;
}
.decoration {
	margin: 3rem 0;
}